* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__banner {
  width: 100%;
}

.nav1 {
  background: #009e7f;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  align-items: center;
}

.header__content i {
  margin-right: 5px;
  padding-top: 2px;
  font-size: 13px;
  line-height: 1;
  display: inline-block;
}

.header__content p {
  color: #fff;
  font-family: "Rubik", "Helvetica", "Arial", "sans-serif";
  font-size: 12px;
  display: flex;
  margin: 0;
  align-items: center;
}

.selector {
  cursor: pointer;
  float: right;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.language__selector {
  margin-right: 15px;
}

.selector i {
  color: #fff;
}

.selector span {
  color: #fff;
}

.nav2 {
  padding-top: 10px;
  height: 80px;
  align-items: center;
}

.nav2 .logo {
  width: 180px;
}

.nav2 #search__bar {
  align-items: center;
  display: flex;
  width: 500px;
  border: 1px solid #009e7f;
  border-radius: 10px;
  padding: 4px;
}

.nav2 .menu__area {
  display: flex;
}

.nav2 .menu__area div {
  text-decoration: none;
  margin: 10px;
}

#search__bar input {
  width: 100%;
}

#search__bar .form-control {
  border: none;
}

#search__bar .form-control:focus {
  outline: none;
  border: none;
}

#search__bar button {
  background: #009e7f;
  width: 100px;
  height: 35px;
  border: none;
  padding: 10px 20px;

  top: 8px;
  left: auto;
  display: flex;
}

.owl-item {
  border-radius: 10px !important;
  border-bottom-left-radius: 10px;
}

.owl-stage-outer {
  border-radius: 10px;
  border-bottom-left-radius: 10px;
}

#search__bar button:hover {
  background: black;
}

#search__bar button span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

#search__bar button i {
  margin-right: 4px;
  font-size: 10px;
  text-decoration: none;
}

.menu__area .wishlist__number {
  background-color: #009e7f;
  height: 16px;
  width: 16px;
  float: right;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 10px;
  line-height: 16px;
  margin-left: 2px;
  color: #fff;
}

.menu__area .cart {
  color: #fff;
}

.menu__area .cart a {
  text-decoration: none;
}

.menu__area .cart a i {
  color: black;
  font-size: 22px;
  align-items: center;
  display: flex;
}

.nav2 .menu__area {
  display: flex;
  align-items: center;
}

.menu__area .user__info a {
  text-decoration: none;
  color: black;
}

.menu__area .user__info i {
  font-size: 18px;
}

.menu__area .top__wishlist a {
  text-decoration: none;
  color: black;
}

.menu__area .top__wishlist i {
  font-size: 18px;
}

.menu__area .user__info {
  width: auto;
  float: right;
  position: relative;
}

/* Main Section */
.main {
  padding-top: 30px;
  background-color: #e2e8f0;
}

.content__wrap {
  align-items: center;
}

.content__wrap .categories {
  padding: 6px 15px;
  background: #fff;
  height: 100%;

  border-radius: 10px;
}

.content__wrap .categories ul li {
  text-decoration: none;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__wrap .categories ul li a {
  text-decoration: none;
  width: 100%;
  display: block;
  color: #198754;
}

.content__wrap .categories ul li i {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #198754;
}

.content__wrap .categories .divider {
  height: 1px;
  line-height: 1px;
  border-bottom: solid 1px #f1f1f1;
}

/*  Carousel  */
.owl-carousel {
  float: none;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.owl-carousel .item {
  border-radius: 10px;
  transition: 0.5s all;
  height: 100%;
}
.owl-carousel .item img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  display: flex;
}
.owl-carousel .caption {
  bottom: auto;
  color: #fff;
  left: 6%;
  top: -250px;
  position: relative;
  right: auto;
  text-align: left;
  width: 33%;
  float: left;
  margin: auto;
  bottom: auto;
}
.caption h2 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 20px;
}
.caption p {
  background-color: #fff;
  color: black;
  text-align: center;
  margin-bottom: 25px;
  font-size: 15px;
}
.slide-button a {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  font-size: 14px;
}
.animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-animated-out {
  z-index: 1;
}
.owl-animated-in {
  z-index: 0;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*  products  */
.product__wrapper {
  background: #e2e8f0;
}

.products {
  margin-left: 40px;
  margin-right: 40px;
}

.product__item {
  position: relative;
  width: 100%;
  box-shadow: 0 0 0 1px #ebebeb inset;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  height: 100%;
}

.product__item-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 280px;
  border-radius: 5px;
}

.product__item-image img {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}

.product__item-image img:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.product__item-image span {
  top: 25px;
  right: 15px;
  background: #007aff;
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  position: absolute;
  border-radius: 12px;
  font-weight: 800;
}

.product__item-price .product__item-actual span {
  color: #ffad5e;
  font-style: italic;
  font-size: 14px;
}

.product__item-actual span:before {
  content: "";
  width: 23%;
  height: 1px;
  display: inline-block;
  background-color: rgb(255, 179, 105);
  position: absolute;
  top: 88.5%;
  left: 8px;
  align-items: center;
  justify-content: center;
}

.product__item-discount {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: space-between;
  margin-top: -10px;
}

.product__item-discount button {
  border: 2px solid rgb(0, 158, 127);
  color: #198754;
  border-radius: 20px;
  width: 80px;
  height: 36px;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  background: #fff;
  display: flex;
  justify-content: center;
}

.product__item-discount button span {
  box-sizing: border-box;
  min-width: 20px;
  margin: 0px 8px 0px 0px;
  display: flex;
  align-items: center;
}

.product__item-discount button span i {
  margin-right: 4px;
  margin-top: 4px;
  font-weight: 500;
}

.product__item-discount button:hover {
  background: #198754;
  transition: 0.5s all;
}

.product__item-discount button:hover span {
  color: #fff;
  transition: 0.5s all;
}

.product__item-brand i {
  color: #666;
  font-weight: 400;
  font-size: 13px;
  margin-top: -10px;
}

.product__item-info p {
  margin-top: 5px;
  color: #198754;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-overflow: ellipsis;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.product__item-info h4 {
  font-size: 13px;
  margin-top: -10px;
  font-weight: 400;
  color: #666;
}

.products .row {
  margin-top: 40px;
}

.load_button {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.load_button button {
  min-width: 135px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 158, 127);
  color: rgb(0, 158, 127);
  margin-bottom: 20px;
}

.product__item-price {
}

.product__item-price span {
  font-size: 17px;
  color: #198754;
}

/*  footer  */
footer {
  background: #343a40;
  margin-top: 50px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exact-active {
  color: #fff;
}
.grid-cols-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.grid {
  justify-content: space-between;
  display: flex;
}

.grid ul li a {
  color: #fff;
}

footer ul {
  gap: 2rem;
  display: flex;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li a i {
  color: #fff;
}

address {
  display: flex;
  justify-content: space-around;
  text-align: right;
}

address span {
  font-size: 14px;
  text-align: right;
  color: #fff;
}

address span i {
  opacity: 50%;
}

.footer__wrap {
  float: right;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  margin-top: 30px;
}

.footer__wrap ul li a {
  font-size: 13px;
  margin-left: 45px;
  opacity: 75%;
}

.footer-bar {
  padding: 10px;
  background-color: #22262b;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.footer-bar strong a {
  color: #198754;
  text-decoration: none;
}

/* responsive */
@media only screen and (min-width: 400px) {
  footer {
    position: relative;
    left: 0;
    transform: none;
    border-radius: 0;
  }
  .footer .footer-wrap {
    padding: 20px;
    font-size: 10px;
  }
  .footer-bar {
    width: 100%;
    bottom: 0;
    align-items: center;
    text-align: center;
    font-size: 11px;
  }
  .flex-none {
    scrollbar-width: none;
    overflow-x: scroll;
  }
  .grid {
    font-size: 10px;
    scrollbar-width: none;
  }
  address span {
    font-size: 10px;
  }
}

@media screen and (max-width: 1248px) {
  .book__title {
    font-size: 28px;
  }
  address span {
    text-align: right;
    color: #fff;
  }
  .footer__wrap {
    float: right;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
    margin-bottom: 30px;
  }
  .footer__wrap ul li a {
    font-size: 15px;
    margin-left: 45px;
    opacity: 75%;
  }

  .footer-bar {
    padding: 10px;
    background-color: #22262b;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
  }
}
@media screen and (max-width: 775px) {
  .logo img {
    width: 120px;
    padding: 6px;
  }
}

@media only screen and (min-width: 480px) {
  body {
    width: 100%;
    font-size: 12px;
  }
  .main {
    width: 100%;
  }
  .nav2 {
    width: 100%;
    overflow: hidden;
  }

  #search__bar input::placeholder {
    
    color: transparent;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-none {
    scrollbar-width: none;
    overflow-x: scroll;
  }
  .grid {
    font-size: 10px;
    scrollbar-width: none;
  }
}
@media only screen and (min-width: 400px) {
  .image__wrapper {
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }
  .image__wrapper img {
    display: flex;
    align-items: center;
    position: relative;
  }
  .main .page__content .book__title h5 {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }
  .main .page__content .book__info tbody {
    align-items: center;
    justify-content: center;
  }
  .product__wrapper .products h5 {
    font-size: 18px;
  }
  .page__content .back__button {
    margin-left: -10px;
    margin-top: -10px;
  }
  .page__content .back__button a {
    font-size: 10px;
  }
  .image__wrapper span {
    font-size: 10px;
    top: 0;
    right: 30%;
  }
  .menu__area .top__wishlist i {
    font-size: 14px;
  }
  .menu__area .wishlist__number {
    width: 10px;
    height: 10px;
    font-size: 7px;
    top: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    float: right;
  }
  .menu__area .cart a i {
    font-size: 16px;
  }
  .menu__area .user__info i {
    font-size: 14px;
  }
  footer ul {
    padding-left: 0;
  }
  .header__content p {
    font-size: 11px;
  }
  .fa-clock:before {
    font-size: 10px;
    margin-right: 4px;
  }
  .search__bar input::placeholder {
    display: none;
  }
  .selector span {
    font-size: 10px;
  }
  .bx-chevron-down:before {
    font-size: 10px;
  }
}

/* responsive end */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-pagination {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  color: #fff;
}

.swiper img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

.swiper-button-prev {
  font-size: 10px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 40px;
}

.swiper-button-next {
  font-size: 10px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 40px;
}

.swiper span {
  color: #fff;
}

.owl-carousel {
  margin-top: 20px;
  display: flex;
  box-sizing: border-box;
}

.owl-stage-outer {
  border-radius: 6px;
}

.owl-carousel {
  margin-top: 20px;
}

.owl-carousel img {
  border-radius: 6px;
}

.owl-carousel .button {
  margin-top: 20%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 5px;
  background: #198754;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-block;
  transform: translateY(-50%);
}

.owl-nav button.owl-next {
  float: right;
}

.offcanvas {
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: content-box;
  scrollbar-width: 5px;
  scrollbar-color: #009e7f;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #009e7f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.offcanvas-body .title {
  display: flex;
}

.offcanvas-header {
  padding: 15px 25px;
  background-color: #ffffff;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
}

.offcanvas-header span {
  color: #009e7f;
  font-size: 18px;
  font-weight: bold;
}

.offcanvas-header i {
  color: #009e7f;
  width: 30px;
  height: 30px;
}

.offcanvas-body .cart__item {
  display: inline-block;
}

.offcanvas-body .cart__item span {
  display: inline-block;
  color: #009e7f;
}

.offcanvas-body td i {
  cursor: pointer;
  color: #009e7f;
  font-size: 16px;
}

.card__footer .button {
  height: 40px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #009e7f;
  padding: 0;
  border-radius: 48px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: none;
  outline: none;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: auto;
}

.card__footer button a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
}

.card__footer button span {
  margin-right: 4px;
  padding: 5px;
  width: auto;
  height: 35px;
  padding: 0px 30px;
  overflow: hidden;
  border-radius: 28px;
  display: inline-flex;
  align-items: center;
  display: flex;
  background-color: #fff;
  color: #009e7f;
  font-weight: 500;
}

.card__footer .button a {
  color: #fff;
}

/* Product page */
.image__wrapper {
  padding: 50px;
  height: 35vw;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  width: 100%;
}

.image__wrapper img {
  display: flex;
  width: 70%;
  height: auto;
  align-items: center;
  position: relative;
}

.image__wrapper span {
  background: #007aff;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 24%;
}

.main {
}

.page__content {
  background: #fff;
  padding: 40px;
}

.page__content .back__button {
  position: relative;
  align-items: center;
  left: 20px;
  justify-content: space-between;
  width: 100%;
}

.page__content .back__button a {
  text-decoration: none;
  color: #fff;
  background: #009e7f;
  border-radius: 20px;
  padding: 9px;
}

.page__content .back__button a i {
  font-size: 10px;
  align-items: center;
}

.page__content .back__button button {
  border: none;
  background: #007aff;
  border-radius: 20px;
  padding: 7px;
  font-size: 13px;
  color: #fff;
  float: right;
  position: relative;
  top: 65px;
  right: 50px;
  font-weight: bold;
}

.page__content .back__button a:hover {
  background-color: #198754;
  transition: 0.5s all;
}

.page__content .book__title h5 {
  font-size: 28px;
  font-family: Oswald (sans-serif);
  font-weight: 700;
}

.book__info {
  margin-top: 20px;
}

.book__info table tr th {
  font-weight: 500;
  color: #343a40;
  font-family: Open Sans (sans-serif);
}

.product__cart-wrapper {
  margin-top: 30px;
}

.product__price-wrapper {
  display: flex;
  align-items: center;
}

.product-_price {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #009e7f;
  margin-right: 4px;
  align-items: center;
}

.discounted__price {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 179, 105);
  font-style: italic;
  padding: 0px 5px;
  text-decoration: line-through;
}

.product__cart-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: max-content;
}

.product__cart-btn button {
  background-color: #009e7f;
  color: #fff;
  border: none;
  padding: 8px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.product__cart-btn button:hover {
  background-color: #198754;
  transition: 0.5s all;
}

.product__wrapper h5 {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
  font-family: Oswald (sans-serif);
  font-weight: 700;
}
