.product {
	display: flex;
	flex-wrap: wrap;
  }
  .product-image {
	flex: 100%;
  }
  .product-info {
	flex: 100%;
  }
  @media(min-width: 600px) {
	.product-image {
	    flex: 50%;
	}
	.product-info {
	    flex: 50%;
	}
  }